POSTGRES_DB=habitia
POSTGRES_USER=habitia
POSTGRES_PASSWORD=habitia

APP_JWT_SECRET=change-this-to-a-random-256-bit-secret
APP_JWT_EXPIRATION_MS=86400000

APP_STORAGE_UPLOAD_DIR=/app/uploads
APP_STORAGE_BASE_URL=http://localhost:8080

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
